.container {
    border-radius: 5px;
    background-color: #fff4e9;
    height: 800px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .description {
        width: 100%;
        height: 90px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        div {
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
        }

        .description-item2 {
            left: 100%;
        }

        .description-item3 {
            left: 200%;
        }
    }
}
